{#
    Block: wsc-accordion
    Meta-Accordion Block mit verschachtelten Blöcken
#}

{% set accordionItems = block.accordion_items|default([]) %}

{# Accordion-Einstellungen #}
{% set firstOpen = block.first_open|default(true) %}
{% set alwaysOpen = block.always_open|default(false) %}
{% set flush = block.flush|default(false) %}

{# Styling #}
{% set accordionStyle = block.accordion_style|default('default') %}
{% set headerBgColor = block.header_bg_color|default('') %}

{# Margin #}
{% set marginTop = block.margin_top|default('mt-3') %}
{% set marginBottom = block.margin_bottom|default('mb-3') %}
{% set marginStart = block.margin_start|default('ms-0') %}
{% set marginEnd = block.margin_end|default('me-0') %}

{# Padding #}
{% set paddingTop = block.padding_top|default('pt-0') %}
{% set paddingBottom = block.padding_bottom|default('pb-0') %}
{% set paddingStart = block.padding_start|default('ps-0') %}
{% set paddingEnd = block.padding_end|default('pe-0') %}

{# Erweiterte Optionen #}
{% set cssClass = block.css_class|default('') %}
{% set htmlId = block.html_id|default('') %}

{# Eindeutige Accordion-ID (für data-bs-parent) #}
{% set accordionId = htmlId ?: ('accordion-' ~ random()) %}

{# Wrapper-Klassen #}
{% set wrapperClasses = [] %}
{% if marginTop != 'mt-0' %}{% set wrapperClasses = wrapperClasses|merge([marginTop]) %}{% endif %}
{% if marginBottom != 'mb-0' %}{% set wrapperClasses = wrapperClasses|merge([marginBottom]) %}{% endif %}
{% if marginStart != 'ms-0' %}{% set wrapperClasses = wrapperClasses|merge([marginStart]) %}{% endif %}
{% if marginEnd != 'me-0' %}{% set wrapperClasses = wrapperClasses|merge([marginEnd]) %}{% endif %}
{% if paddingTop != 'pt-0' %}{% set wrapperClasses = wrapperClasses|merge([paddingTop]) %}{% endif %}
{% if paddingBottom != 'pb-0' %}{% set wrapperClasses = wrapperClasses|merge([paddingBottom]) %}{% endif %}
{% if paddingStart != 'ps-0' %}{% set wrapperClasses = wrapperClasses|merge([paddingStart]) %}{% endif %}
{% if paddingEnd != 'pe-0' %}{% set wrapperClasses = wrapperClasses|merge([paddingEnd]) %}{% endif %}
{% if cssClass is not empty %}{% set wrapperClasses = wrapperClasses|merge([cssClass]) %}{% endif %}

{# Accordion-Klassen #}
{% set accordionClasses = ['accordion'] %}
{% if flush %}
    {% set accordionClasses = accordionClasses|merge(['accordion-flush']) %}
{% endif %}
{% if accordionStyle == 'bordered' %}
    {% set accordionClasses = accordionClasses|merge(['wsc-accordion-bordered']) %}
{% elseif accordionStyle == 'shadow' %}
    {% set accordionClasses = accordionClasses|merge(['wsc-accordion-shadow']) %}
{% endif %}

{# Finale Klassen-Strings #}
{% set wrapperClassString = wrapperClasses|join(' ') %}
{% set accordionClassString = accordionClasses|join(' ') %}

{% if accordionItems|length > 0 %}
<div{% if wrapperClassString %} class="{{ wrapperClassString }}"{% endif %}>
    <div class="{{ accordionClassString }}" id="{{ accordionId }}">
        {% for item in accordionItems %}
            {% set itemTitle = item.title|default('') %}
            {% set itemIcon = item.icon|default('') %}
            {% set itemBadgeText = item.badge_text|default('') %}
            {% set itemBadgeColor = item.badge_color|default('bg-primary') %}
            {% set itemContent = item.content|default([]) %}
            {% set itemCssClass = item.item_css_class|default('') %}
            {% set itemHtmlId = item.item_html_id|default('') %}

            {# Eindeutige Item-ID (automatisch wenn nicht gesetzt) #}
            {% set itemId = itemHtmlId ?: (accordionId ~ '-item-' ~ loop.index) %}
            {% set collapseId = itemId ~ '-collapse' %}
            {% set headerId = itemId ~ '-header' %}

            {# Item-Klassen #}
            {% set itemClasses = ['accordion-item'] %}
            {% if itemCssClass is not empty %}
                {% set itemClasses = itemClasses|merge([itemCssClass]) %}
            {% endif %}

            {# Ist dieses Item initial geöffnet? #}
            {% set isOpen = firstOpen and loop.first %}

            <div class="{{ itemClasses|join(' ') }}">
                {# Accordion Header #}
                <h2 class="accordion-header" id="{{ headerId }}">
                    <button class="accordion-button{% if not isOpen %} collapsed{% endif %}{% if headerBgColor %} {{ headerBgColor }}{% endif %}"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#{{ collapseId }}"
                            aria-expanded="{{ isOpen ? 'true' : 'false' }}"
                            aria-controls="{{ collapseId }}"
                            {% if not alwaysOpen %}data-bs-parent="#{{ accordionId }}"{% endif %}>

                        {# Icon (vor Titel) #}
                        {% if itemIcon is not empty %}
                            <i class="fa-solid {{ itemIcon }} me-2"></i>
                        {% endif %}

                        {# Titel #}
                        {{ itemTitle }}

                        {# Badge (nach Titel) #}
                        {% if itemBadgeText is not empty %}
                            <span class="badge {{ itemBadgeColor }} ms-2">{{ itemBadgeText }}</span>
                        {% endif %}
                    </button>
                </h2>

                {# Accordion Body #}
                <div id="{{ collapseId }}"
                     class="accordion-collapse collapse{% if isOpen %} show{% endif %}"
                     aria-labelledby="{{ headerId }}"
                     {% if not alwaysOpen %}data-bs-parent="#{{ accordionId }}"{% endif %}>
                    <div class="accordion-body">
                        {# Verschachtelte Blöcke rendern #}
                        {% if itemContent is defined and itemContent|length > 0 %}
                            {% for innerBlock in itemContent %}
                                {% set block = innerBlock %}
                                {% include 'wsc/blocks/' ~ innerBlock.type ~ '.html.twig' %}
                            {% endfor %}
                        {% else %}
                            <p class="text-muted"><em>Kein Inhalt hinzugefügt</em></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
