{#
    Block: wsc-smart-content
    Smart Content - Haupt-Template mit Include-Logik
#}

{% set title = block.title|default('') %}
{% set titleIcon = block.title_icon|default('') %}
{% set smartContent = block.smart_content|default([]) %}

{# Layout #}
{% set displayMode = block.display_mode|default('list') %}
{% set showImage = block.show_image|default(true) %}
{% set showExcerpt = block.show_excerpt|default(true) %}
{% set showDate = block.show_date|default(false) %}
{% set showMoreLink = block.show_more_link|default(true) %}
{% set moreLinkText = block.more_link_text|default('Mehr lesen') %}

{# Akkordeon-Einstellungen #}
{% set accordionOpenFirst = block.accordion_open_first|default(true) %}
{% set accordionFlush = block.accordion_flush|default(false) %}
{% set accordionAlwaysOpen = block.accordion_always_open|default(false) %}

{# Slider-Einstellungen #}
{% set sliderAutoplay = block.slider_autoplay|default(true) %}
{% set sliderArrows = block.slider_arrows|default(true) %}
{% set sliderIndicators = block.slider_indicators|default(true) %}
{% set sliderInterval = block.slider_interval|default('5000') %}

{# Styling #}
{% set titleAlignment = block.title_alignment|default('start') %}
{% set titleColor = block.title_color|default('') %}
{% set gutter = block.gutter|default('g-4') %}

{# Margin #}
{% set marginTop = block.margin_top|default('mt-3') %}
{% set marginBottom = block.margin_bottom|default('mb-3') %}
{% set marginStart = block.margin_start|default('ms-0') %}
{% set marginEnd = block.margin_end|default('me-0') %}

{# Padding #}
{% set paddingTop = block.padding_top|default('pt-0') %}
{% set paddingBottom = block.padding_bottom|default('pb-0') %}
{% set paddingStart = block.padding_start|default('ps-0') %}
{% set paddingEnd = block.padding_end|default('pe-0') %}

{# Erweiterte Optionen #}
{% set cssClass = block.css_class|default('') %}
{% set htmlId = block.html_id|default('') %}

{# Eindeutige IDs #}
{% set uniqueId = 'smart-content-' ~ random() %}

{# Wrapper-Klassen (Spacing) #}
{% set wrapperClasses = [] %}
{% if marginTop != 'mt-0' %}{% set wrapperClasses = wrapperClasses|merge([marginTop]) %}{% endif %}
{% if marginBottom != 'mb-0' %}{% set wrapperClasses = wrapperClasses|merge([marginBottom]) %}{% endif %}
{% if marginStart != 'ms-0' %}{% set wrapperClasses = wrapperClasses|merge([marginStart]) %}{% endif %}
{% if marginEnd != 'me-0' %}{% set wrapperClasses = wrapperClasses|merge([marginEnd]) %}{% endif %}
{% if paddingTop != 'pt-0' %}{% set wrapperClasses = wrapperClasses|merge([paddingTop]) %}{% endif %}
{% if paddingBottom != 'pb-0' %}{% set wrapperClasses = wrapperClasses|merge([paddingBottom]) %}{% endif %}
{% if paddingStart != 'ps-0' %}{% set wrapperClasses = wrapperClasses|merge([paddingStart]) %}{% endif %}
{% if paddingEnd != 'pe-0' %}{% set wrapperClasses = wrapperClasses|merge([paddingEnd]) %}{% endif %}
{% if cssClass is not empty %}{% set wrapperClasses = wrapperClasses|merge([cssClass]) %}{% endif %}

{# Titel-Klassen #}
{% set titleClasses = ['mb-4'] %}
{% if titleAlignment == 'center' %}{% set titleClasses = titleClasses|merge(['text-center']) %}{% endif %}
{% if titleAlignment == 'end' %}{% set titleClasses = titleClasses|merge(['text-end']) %}{% endif %}
{% if titleColor is not empty %}{% set titleClasses = titleClasses|merge([titleColor]) %}{% endif %}

{# Finale Klassen-Strings #}
{% set wrapperClassString = wrapperClasses|join(' ') %}
{% set titleClassString = titleClasses|join(' ') %}

{# Template-Mapping #}
{% set templateMap = {
    'list': 'list',
    'grid-2': 'grid',
    'grid-3': 'grid',
    'grid-4': 'grid',
    'cards-2': 'cards',
    'cards-3': 'cards',
    'cards-4': 'cards',
    'accordion': 'accordion',
    'slider': 'slider'
} %}
{% set templateName = templateMap[displayMode]|default('list') %}

{% if smartContent|length > 0 %}
<div{% if htmlId %} id="{{ htmlId }}"{% endif %}{% if wrapperClassString %} class="{{ wrapperClassString }}"{% endif %}>

    {# Optionale Überschrift #}
    {% if title is not empty %}
    <h2 class="{{ titleClassString }}">
        {% if titleIcon is not empty %}<i class="fa-solid {{ titleIcon }} me-2"></i>{% endif %}
        {{ title }}
    </h2>
    {% endif %}

    {# Sub-Template inkludieren #}
    {% include 'wsc/blocks/smart-content/' ~ templateName ~ '.html.twig' with {
        smartContent: smartContent,
        displayMode: displayMode,
        showImage: showImage,
        showExcerpt: showExcerpt,
        showDate: showDate,
        showMoreLink: showMoreLink,
        moreLinkText: moreLinkText,
        gutter: gutter,
        uniqueId: uniqueId,
        accordionOpenFirst: accordionOpenFirst,
        accordionFlush: accordionFlush,
        accordionAlwaysOpen: accordionAlwaysOpen,
        sliderAutoplay: sliderAutoplay,
        sliderArrows: sliderArrows,
        sliderIndicators: sliderIndicators,
        sliderInterval: sliderInterval
    } %}

</div>
{% endif %}
